.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 50px;
  padding: 40px;
}

/* Card */
.category-card {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s, opacity 0.5s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
}

/* Smooth fade */
.fade {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

/* Glassmorphism */
.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(10px);
}

/* Overlay */
.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Pulse */
.pulse-icon {
  margin-top: 10px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

/* Detail page */
.detail-page {
  padding: 20px;
}

.detail-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.detail-card {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

/* Back button */
.back-btn {
  margin-bottom: 20px;
  padding: 8px 15px;
  cursor: pointer;
}
.Titler{
  text-align: center;
}
.Titler h1{
  font-size: 2.5em;
  margin-bottom: 10px;
}
.Titler p{
  font-size: 1.2em;
  color: #555;
} 
.Titler mark{
  background-color: rgba(255, 255, 0, 0.392);
  padding: 0 5px;
  border-radius: 5px;
}